@model StephanieJay.Classes.Gig

@{
    ViewBag.Title = "Create Gigs";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

<div class="row">
    <div class="span12 box">
        <h2>Create News</h2>
        @using (Html.BeginForm("Create", "Gigs", FormMethod.Post, new { Class = "form-horizontal" }))
        {
            <div class="control-group">
                <label class="control-label" for="contactname">Date<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.date)
                    @Html.ValidationMessageFor(g => g.date)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">Venue<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBoxFor(x => x.venue)
                    @Html.ValidationMessageFor(g => g.venue)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="message">City<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.city)
                    @Html.ValidationMessageFor(g => g.city)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="message">Country<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextAreaFor(x => x.country)
                    @Html.ValidationMessageFor(g => g.country)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        }
    </div>
</div>