@model StephanieJay.Classes.Gigs
           
@{
    ViewBag.Title = "Admin - Gigs";
}

<div class="row">
    <div class="span12 box">
        <h2>Edit Gigs</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Date.</th>
                    <th>Venue.</th>
                    <th>City.</th>
                    <th>Country.</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var group in Model.groups)
            {
                <tr><td colspan="5">@group.name</td></tr>
                foreach (var gig in group.gigs)
                {
                    <tr>
                        <td>@gig.date.ToString("m")</td>
                        <td>@gig.venue</td>
                        <td>@gig.city</td>
                        <td>@gig.country</td>
                        <td>
                            <div class="btn-group right">
                                <a class="btn btn-primary" href="Gigs/Edit/@gig.guid"><i class="icon-edit"></i> Edit</a>
                                <a class="btn btn-danger" href="Gigs/Delete/@gig.guid"><i class="icon-minus"></i> Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
        <ul class="box-item-bag">
            <li class="box-item">
                <a class="btn btn-success" href="@Url.Action("Create")"><i class="icon-plus"></i> Create</a>
            </li>
        </ul>
	</div>
</div>