@model StephanieJay.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Message</h2>
<div class="row">
    <div class="span12">
        <div id="carousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <img src="../../Images/Content/0steph.jpg" alt="" />
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="../../Images/Content/1steph.jpg" alt="" />
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="../../Images/Content/2steph.jpg" alt="" />
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="../../Images/Content/3steph.jpg" alt="" />
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="../../Images/Content/4steph.jpg" alt="" />
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="box">
            <h2>Welcome.</h2>
            <ul class="box-item-bag">
                <li class="box-item">
                    <h3>@Model.WelcomeMessage.title</h3>
                    <span>@Model.WelcomeMessage.message</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="box">
            <h2 class="yanone_kaffeesatz_regular">News.</h2>
            <ul class="box-item-bag">
@foreach (var news in Model.News)
{
                <li class="box-item">
                    <h3>@news.title</h3>
                    <a href="@news.link">@news.link</a>
                    <div><span>@news.description</span></div>
                    <div class="clear"></div>
                </li>
}
            </ul>
        </div>
    </div>
    <div class="span6">
        <div class="box">
            <h2 class="yanone_kaffeesatz_regular">Twitter.</h2>
            <div class="tweetContainer">
                <ul id="tweetlist" class="box-item-bag"></ul>
            </div>
        </div>
    </div>
</div>