@model StephanieJay.Models.ContactViewModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Contact</h2>
@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true) 
    <fieldset> 
        <legend>Contact Me</legend> 
        <div class="editor-label"> 
            @Html.LabelFor(model => model.From) 
        </div> 
        <div class="editor-field"> 
            @Html.TextBoxFor(model => model.From) 
            @Html.ValidationMessageFor(model => model.From) 
        </div> 
        <div class="editor-label"> 
            @Html.LabelFor(model => model.Subject) 
        </div> 
        <div class="editor-field"> 
            @Html.TextBoxFor(model => model.Subject) 
            @Html.ValidationMessageFor(model => model.Subject) 
        </div> 
        <div class="editor-label"> 
            @Html.LabelFor(model => model.Message) 
        </div> 
        <div class="editor-field"> 
            @Html.TextBoxFor(model => model.Message) 
            @Html.ValidationMessageFor(model => model.Message) 
        </div> 
        <p> 
            <input type="submit" value="Send" /> 
        </p> 
    </fieldset> 
}
@{
    ViewBag.Title = "Contact";
}*@

<div class="row">
    <div class="span9">
        <div class="box">
            <h2>Send Me a Message</h2>
		    <form method="post" action="#" class="form-horizontal">
			    <!--<legend>Send Me a Message</legend>-->
                <div class="control-group">
                    <label class="control-label" for="contactname">Your Name<span class="required">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.From) 
                        @Html.ValidationMessageFor(model => model.From) 
                        @*<input type="text" id="contactname" name="contactname" class="required"/>*@
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Your Email/Phone Number<span class="required">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.ContactVia) 
                        @Html.ValidationMessageFor(model => model.ContactVia) 
                        @*<input type="text" id="email" name="email" class="required"/>*@
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="message">Message<span class="required">*</span></label>
                    <div class="controls">
                        @Html.TextAreaFor(model => model.Message) 
                        @Html.ValidationMessageFor(model => model.Message) 
                        @*<textarea rows="8" id="message" name="message" class="span6 required"></textarea>*@
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Send Your Message</button>
                        <button type="reset" class="btn">Clear Form</button>
                    </div>
                </div>
		    </form>
        </div>
	</div><!-- form -->
    <div class="span3">
        <div class="box">
            <h2>Contact Info.</h2>
            <ul class="box-item-bag">
                <li class="box-item">
                    <span>www.twitter.com/djstephaniejay</span>
                </li>
                <li class="box-item">
                    <span>www.facebook.com/djstephaniej</span>
                </li>
                <li class="box-item">
                    <span>www.mixcloud.com/stephaniejay</span>
                </li>
                <li class="box-item">
                    <span>www.soundcloud.com/stephaniejay</span>
                </li>
                <li class="box-item">
                    <span>www.beatport.com/artist/stephanie-jay/194092</span>
                </li>
            </ul>
        </div>
    </div>
</div><!-- container -->