@model StephanieJay.Classes.Gigs
@{
    ViewBag.Title = "Gigs";
}

<div class="row">
    <div class="span12">


        <div class="box">

            <table class="table">
                <thead>
                    <tr>
                        <th>Date.</th>
                        <th>Venue.</th>
                        <th>City.</th>
                        <th>Country.</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var Group in Model.groups)
                {
                    <tr><td colspan="4">@Group.name</td></tr>
                    foreach (var Job in Group.jobs)
                    {
                        <tr>
                            <td>@Job.date</td>
                            <td>@Job.venue</td>
                            <td>@Job.city</td>
                            <td>@Job.country</td>
                        </tr>
                    }
                }
               </tbody>
            </table>

        </div>

       
    </div>
</div>

