@model StephanieJay.Classes.Gigs
@{
    ViewBag.Title = "Gigs";
}

<div class="row">
    <div class="span12">
        <div class="box">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date.</th>
                        <th>Venue.</th>
                        <th>City.</th>
                        <th>Country.</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var group in Model.gigs.Select(g => new { g.date.Month, g.date.Year }).Distinct().ToList())
                {
                    <tr><td colspan="4">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(group.Month) @group.Year</td></tr>
                    foreach (var Gig in Model.gigs.Where(g => g.date.Year == group.Year && g.date.Month == group.Month))
                    {
                        <tr>
                            <td>@Gig.date</td>
                            <td>@Gig.venue</td>
                            <td>@Gig.city</td>
                            <td>@Gig.country</td>
                        </tr>
                    }
                }
               </tbody>
            </table>
        </div>
    </div>
</div>

